body {
    background: #0a0a0a;
    font-family: Arial, sans-serif;}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.glow-btn {
    position: relative;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    background: #111;
    z-index: 1;
    overflow: hidden;}

.glow-btn::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    background: linear-gradient(45deg, #8a2cff, #3bb2ff);
    z-index: -1;}

.glow-btn::after {
    content: "";
    position: absolute;
    inset: -15px;
    border-radius: inherit;
    background: linear-gradient(45deg, #8a2cff, #3bb2ff);
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -2;}

.glow-btn:hover::after {
    opacity: 1;}
